*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
  scroll-behavior: smooth;
}
html, body {
  height: 100vh;
  margin: 0;
}
body {
  background: linear-gradient(to bottom left, #DC3845, #370001);
  overflow: hidden;
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}